@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen and (max-width:375px) {
    
    .text {
        text-align: center;
    }
    .list {
        justify-content: center;
    }
    .sale_category {
        display: none;
    }
    

    
}
@media screen and (min-width:376px) and (max-width:575px) {
    
    .text {
        text-align: center;
    }
    .list {
        justify-content: center;
    }
   
}
  
@media screen and (min-width:576px) and (max-width:767px) {
    
    .text {
        text-align: center;
   
    }
    .list {
        justify-content: center;
    }
}
  
@media screen and (min-width:768px) and (max-width:991px) {
    .list {
        justify-content: flex-end;
    }
   
}
@media screen and (min-width:992px) and (max-width:1199px) {
    .list {
        justify-content: flex-end;
    }
}
  
@media screen and (min-width:1200px) {
    .list {
        justify-content: flex-end;
    }
  
}

.background {
    background-color: #2b2b2b;
    font-family: 'DM Sans', sans-serif;
    padding: 50px 0;
    color: #fff;

}
.text {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
}
.breadcump {
    background-color: #2b2b2b;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    padding: 30px 0 20px;
    border-bottom: 1px solid #ffffff14;
    
}
.list {
    display: flex;
    gap: 10px;
    align-items: center;

}
.title {
    font-size: 30px;
    margin-bottom: 0;
    line-height: 1.25;
    font-weight: 700;
}
.title_aria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.react_aria {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 12px;
    background-color: #00a3ff;
    cursor: pointer;
    border-radius: 6px;

}
.icon_heart {
    font-size: 24px;
}
.number_react {
    font-size: 18px;
    padding-top: 3px;
}
.name_bid {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #acacac;

}
.price {
    font-family: 'Roboto', sans-serif;
    color: #00a3ff;
    font-weight: 500;
    font-size: 14px;
}
.title_name {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 30px;
}
.head_category {
    font-family: 'Roboto', sans-serif;

    font-size: 16px;
}
.sale_category {
    font-weight: 500;
    font-size: 16px;
    color: #acacac;
}
.img_products {
    border-radius: 40px;
    height: 40px;
    width: 40px;
}
.top_seller_content {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    margin-left: 12px;
}
.top_seller_swapper {
    display: flex;
    align-items: center;
}
.thumbnail {
    padding: 1px;
    border-radius: 100%;
    border: 3px solid #ffffff14;
}
.category_collection {
    display: flex;
}
.category {
    margin-right: 50px;
}
.top_creator {
    display: flex;
    gap: 20px;
}
.price_bids {
    font-family: 'Roboto', sans-serif;
    color: #acacac;
    font-weight: 500;
    font-size: 14px;
}
.name_bid_creator {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin-left: 15px;
}
.swapper_bids {
    border-bottom: 1px solid #ffffff14;
    padding-bottom: 24px;
    padding-top: 24px;
}
.property_title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #acacac;
}
.color_body {
    font-size: 12px;
    margin-bottom: 7px;
    color: #acacac;
}
.value_property {
    font-family: 'Roboto', sans-serif;

    font-size: 14px;
    letter-spacing: 0.5px;
}
.property_inner {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 10px 15px;
    margin: 7px;
    border: 1px solid #ffffff14;
    border-radius: 6px;
    backdrop-filter: blur(15px);
}
.property_swapper {
    display: flex;
    flex-wrap: wrap;
}
.head {
    margin-bottom: 10px;
}
.btn_buy {
    background-color: #8364e2;
    border: none;
    border-radius: 6px;
    padding: 7px 20px;
    color: #fff;
    object-fit: cover;
    transition: 0.4s;
}
.btn_buy:hover {
    transform: scale(0.9, 0.9);
}
.btn_bid {
    background-color: #fff;
    border: none;
    border-radius: 6px;
    padding: 7px 20px;
    object-fit: cover;
    transition: 0.4s;
}
.btn_bid:hover {
    transform: scale(0.9, 0.9);
    
}
.btn {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.card {
    border-radius: 35px 35px 20px 20px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background-color: #3b3b3b;
    margin: 20px 0 20px 0;
}

.card .card_image {
    /* width: inherit;
    height: inherit; */
    border-radius: 30px;
  }
  
  .card .card_image img {
    /* width: inherit;
    height: inherit; */
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
  }
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

  .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */
    
    text-transform: capitalize;
    
    /* White */
    
    color: #FFFFFF;
}

.name_avatar {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    /* White */

    color: #FFFFFF;
}
.img_discover {
    border-radius: 40px;
}
.name_price {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */


    color: #858584;
}
.price {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    /* White */

    color: #FFFFFF;
}
.name_highness {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */


    color: #858584;
}

.price_highness {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    /* White */

    color: #FFFFFF;
}
.recent_view {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    padding: 20px;
}
.img_header {
    width: 100%;
    border-radius: 28px;
    padding: 10px;
    border: 2px solid transparent;
    background-color: #24243557;
}