@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@media screen and (max-width:375px) {
    .profile_image {
        bottom: -15%;
        left: 50%;
        transform: translate(-50%, -15%);
        
    }
    .name {
        font-size: 28px;
    }
    .swapper {
        flex-direction: column;
    }
    .btn {
        flex-direction: column;
    }
    .number {
        font-size: 22px;
    }
    .name_sale {
        font-size: 16px;
    }
    .starts {
        justify-content: space-between;
    }
    /* .content_bio {
        max-width: 100%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp:2;
        line-height: 1;
    } */
   
  
  }
  @media screen and (min-width:376px) and (max-width:575px) {
    .profile_image {
        bottom: -15%;
        left: 50%;
        transform: translate(-50%, -15%);
        
    }
    .name {
        font-size: 28px;
    }
    .swapper {
        flex-direction: column;
    }
    .btn {
        flex-direction: column;
    }
    .number {
        font-size: 22px;
    }
    .name_sale {
        font-size: 16px;
    }
    .starts {
        justify-content: space-between;
    }
  
  }
  
  @media screen and (min-width:576px) and (max-width:767px) {
    .profile_image {
        bottom: -15%;
        left: 50%;
        transform: translate(-50%, -15%);
        
    }
    .name {
        font-size: 28px;
    }
    .swapper {
        flex-direction: column;
    }
    .btn {
        flex-direction: column;
    }
    .number {
        font-size: 22px;
    }
    .name_sale {
        font-size: 16px;
    }
    .starts {
        justify-content: space-between;
    }
    
    
    
  }
  
  @media screen and (min-width:768px) and (max-width:991px) {
    .profile_image {
        bottom: -15%;
        left: 20%;
        
    }
    .name {
        font-size: 38px;
    }
    .number {
        font-size: 28px;
    }
    .name_sale {
        font-size: 22px;
    }
    .starts {
        gap: 20px;
    }
   
  }
  @media screen and (min-width:992px) and (max-width:1199px) {
    .profile_image {
        bottom: -15%;
        left: 20%;
        
    }
    .name {
        font-size: 38px;
    }
    .number {
        font-size: 28px;
    }
    .name_sale {
        font-size: 22px;
    }
    .starts {
        gap: 20px;
    }
}
  
  @media screen and (min-width:1200px) {
    .profile_image {
        bottom: -15%;
        left: 28%;
        
    }
    .name {
        font-size: 51px;
    }
    .number {
        font-size: 28px;
    }
    .name_sale {
        font-size: 22px;
    }
    .starts {
        gap: 30px;
        padding-left: 120px;
    }
  }




.background {
    background-image: url(../../public//infoCreator/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 0;
    position: relative;
}
.profile_image {
    position: absolute;
    transition: 0.4s;
}

.avatar {
   
    border-radius: 10px;
}
.img_creator {
    border-radius: 20px;
    border: 2px solid;
    object-fit: cover;
}
.profile_image:hover {
    transform: scale(0.9, 0.9);
}
.profile_image .avatar img {
    object-fit: cover;
}
.swapper {
    display: flex;
    justify-content: space-around;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
}
.btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.name {
    font-weight: 600;
}
.bg {
    color: #fff;
    background-color: #2b2b2b;
    padding: 50px;
}
.bg_2 {
    color: #fff;
    background-color: #2b2b2b;
    padding-bottom: 50px;
}
.id {
    font-size: 16px;
    font-weight: 600;
}
.copy_profile {
    display: flex;
    gap: 10px;
    padding: 20px;
    border: 1px solid #a259ff;
    border-radius: 15px;
    background-color: #a259ff;
    cursor: pointer;
    transition: all 0.4s linear;
    object-fit: cover;
}
.copy_profile:hover {
    transform: scale(0.9, 0.9);
}
.text_follow {
    font-size: 16px;
    font-weight: 600;
}
.follow {
    display: flex;
    gap: 10px;
    padding: 20px;
    border: 1px solid #a259ff;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.4s linear;
    object-fit: cover;
    width: 188px;
    justify-content: center;
}
.follow:hover {
    transform: scale(0.9, 0.9);
}

.starts {
    display: flex;
    
}
.number {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    /* font-size: 28px; */
    line-height: 140%;
    /* or 39px */

    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.name_sale {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    /* font-size: 22px; */
    line-height: 160%;
    /* or 35px */

    text-transform: capitalize;

    /* White */

    color: #FFFFFF;
}
.total_sale {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head_bio {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */

    text-transform: capitalize;

    color: #858584;
}
.content_bio {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    /* or 35px */

    text-transform: capitalize;

    /* White */

    color: #FFFFFF;
    margin: 20px 0;
}
.swapper_dashboard {
    border: 1px solid #858584;
    border-radius: 20px;
}
.header_dashboard {
    padding-left: 20px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20px;
}

.card {
    border-radius: 35px 35px 20px 20px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background-color: #3b3b3b;
    margin: 20px 0 20px 0;
}

.card .card_image {
    /* width: inherit;
    height: inherit; */
    border-radius: 30px;
  }
  
  .card .card_image img {
    /* width: inherit;
    height: inherit; */
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
  }
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

  .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */
    
    text-transform: capitalize;
    
    /* White */
    
    color: #FFFFFF;
}

.name_avatar {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    /* White */

    color: #FFFFFF;
}
.img_discover {
    border-radius: 40px;
}
.name_price {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */


    color: #858584;
}
.price {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    /* White */

    color: #FFFFFF;
}
.name_highness {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */


    color: #858584;
}

.price_highness {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    /* White */

    color: #FFFFFF;
}

